@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&family=Rajdhani&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --pattern-size: 60rem;
    --pattern-margin: 0 auto;
    --pattern-gap: 0.625rem;
    --pattern-padding: 0.625rem
}

body{
    margin: 0;
   font-family: 'Nunito', 'Arial', 'Helvetica', 'Sans-serif';
   color: #222;
}

h1, h2, h3, p, ul, li, img{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.location-container{
    background-color: #122AB2;
    color: white;
}

.location-info{
    max-width: var(--pattern-size);
    margin: var(--pattern-margin);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--pattern-padding);
    gap: var(--pattern-gap);
}

.location-info a{
    color: white;
}

.header-container{
    background-color: #2C70FF;
}

.header-itens{
    max-width: var(--pattern-size);
    margin: var(--pattern-margin);
    padding: 0.9375rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-itens a{
    display: block;
    color: white;
    padding: var(--pattern-padding);
}

.logo{
    font-size: 2.25rem;
    font-weight: bold;
}

.nav-links ul{
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--pattern-gap);
    font-size: 1.25rem;
}

.nav-links a:hover{
    color: #122AB2;
}