@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&family=Rajdhani&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --pattern-size: 60rem;
    --pattern-margin: 0 auto;
    --pattern-gap: 0.625rem;
    --pattern-padding: 0.625rem;
    --pattern-blue: #122AB2;
}

body{
    margin: 0;
   font-family: 'Nunito', 'Arial', 'Helvetica', 'Sans-serif';
   color: #222;
}

h1, h2, h3, p, ul, li, img{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.location-container{
    background-color: var(--pattern-blue);
    color: white;
}

.location-info{
    max-width: var(--pattern-size);
    margin: var(--pattern-margin);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--pattern-padding);
    gap: var(--pattern-gap);
}

.location-info a{
    color: white;
}

.header-container{
    background-color: #2C70FF;
}

.header-itens{
    max-width: var(--pattern-size);
    margin: var(--pattern-margin);
    padding: 0.9375rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-itens a{
    display: block;
    color: white;
    padding: var(--pattern-padding);
}

.logo{
    font-size: 2.25rem;
    font-weight: bold;
}

.nav-links ul{
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--pattern-gap);
    font-size: 1.25rem;
}

.nav-links a:hover{
    color: var(--pattern-blue);
}

.main-prop{
    margin: var(--pattern-margin);
    max-width: var(--pattern-size);
    padding: 3.75rem 0.625rem;
    font-size: 3rem;
    line-height: 1;
}

.about-container{
    max-width: var(--pattern-size);
    margin: var(--pattern-margin);
    border-top: 0.125rem solid var(--pattern-blue);
    border-bottom: 0.125rem solid var(--pattern-blue);
    margin: var(--pattern-margin);
    padding: 3.75rem 0.625rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.about-info{
    flex: 2 1 18.75rem;
}

.about-info h1{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.about-info p{
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: #7c7c7c;
}

.about-img{
   flex: 1 1 10rem;
}